.wrapper{
   /*  display: grid;
    grid-template-columns: 1fr minmax(auto, 30%); */
    display: flex;
    main{
        flex: 1;
    }

    @media(max-width: 800px){
             display: flex;
             flex-direction: column ;
    
             main{
                 flex: 1;
             }
    }
}


